{{!< default}}
{{> widgets/tx-post-header }}

{{! The main content area on the homepage }}
<section class="tx-author-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {{! Everything inside the #author tags pulls data from the author }}
                {{#author}}    
                    <div class="tx-author-profile clearfix">
                        <div class="tx-author-img col-md-2 col-sm-2">
                            {{#if image}}
                            <img src="{{image}}" alt="{{name}}'s Picture" />
                            {{/if}}
                        </div>
                        
                        <div class="tx-author-details col-md-10 col-sm-10">
                            <h2>{{name}} ({{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}})</h2>
                            <p class="author-bio">{{bio}}</p>
                            <p class="author-meta">
                                <span class="location">
                                    {{#if location}}<i class="fa fa-home"></i> {{location}}{{/if}}
                                </span>
                                <span class="website">
                                {{#if website}}<i class="fa fa-laptop"></i><a href="{{website}}">{{website}}</a>{{/if}}
                                    
                                </span>
                                    
                            </p>
                            
                        </div>

                        
                    </div>
                {{/author}}
                            

                {{! Each post will be output using this markup }}
                {{#foreach posts}}
                    <article class="{{post_class}} ">
                        <div class="tx-post-bg">{{content words="0"}}</div>
                        <div class="block">
                            <div class="tx-post-header">
                                <h2 class="tx-post-title"><a href="{{url}}">{{{title}}}</a></h2>
                            </div>
                            <div class="tx-post-meta">
                                <span class="tx-post-author"><span class="fa fa-user"></span> {{author}}</span>
                                <time class="tx-post-time" datetime="{{date format='YYYY-MM-DD'}}"><span class="fa fa-calendar"></span> {{date format="DD MMM YYYY"}}</time>
                                <span class="tx-post-tag">{{#if tags}}<span class="fa fa-tags"></span>{{/if}} {{tags}}</span>
                            </div>
                            <div class="tx-post-excerpt">
                                <p>{{excerpt characters="250"}}&hellip;</p>
                                <a href="{{url}}" class="read-button">Read More</a>
                            </div>
                        </div>
                    </article>
                {{/foreach}}
            </div>
        </div>
    </div>
   
    
    

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}
</section>

{{! Footer }}
{{> footer/tx-footer }}